ul.breadcrumb {
    padding: 20px 16px;
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
    font-size: 25px;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "＞\00a0";
}

ul.breadcrumb li a {
    color: black;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: none;
}

.icon {
    height: 25px;
}

.login-parent {
    width:100%;
    border: 1px black solid;
    display:flex;
    background-color: antiquewhite;
    /* 水平置中 */
    justify-content: center;
    /* 垂直置中 */
    align-content: center;
    /* 不會壓縮items，如果items過多就換行。 */
    flex-wrap: wrap;
}

.login {
    width:45%;
    border: 1px black solid;
    border-radius: 10px;
    padding: 50px;
    margin: 100px;
    font-size: 30px;
    font-weight: bold;
}


.login h1 {
    text-align: center;
}

form {
    padding: 50px;

    /* background-color: #1b64a3; */
}

.login-input {
    width: 97%;
    height: 30px;
    border: 1px black solid;
    border-radius: 8px;
    font-size: 25px;
    padding: 10px;
    margin-top: 20px;
}

#login-button {
    width: 100%;
    height: 70px;
    border: 0;
    margin-top: 20px;
    background-color: lightgray;
    font-size: 36px;
    font-weight: bold;
    border-radius: 5px;
}

.under-login {
    /* background-color: #1b64a3; */
    display: inline-flex;
    padding: 50px;

}

.u1,
.u2 {
    margin-top: 10px;
}

.u1 {
    padding-left: 50px;
    padding-right: 200px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    right: 0;
  }
  
  .dropdown-content li{
    list-style-type: none;
  }
  .a1{
    color: rgb(0, 34, 128);
  }
  .dropdown-content li a{
    text-decoration: none;
    color: rgb(0, 34, 128);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content li a:hover{
    background-color: beige;
    color: rgb(241, 8, 8);
    text-decoration: none;
  }
  /* .dropdown:hover .dropdown-content li{
    list-style-type: none;
  } */